.c-header-container {
    width: 700px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 15px 0 grey;
    position: fixed;
    z-index: 10;
    background: white;
}

.c-header-logo {
    width: 100px;
    font-weight: 900;
    font-size: 30px;
    margin-left: 20px;
}

.c-header-logo {
    opacity: 0.8;
    cursor: pointer;
}

.c-header-page-container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page-button {
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #25292E;
    border-radius: 20px;
}

.page-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.c-header-logout-container {
    width: 100px;
    margin-right: 20px;
}

.c-header-logout {
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #25292E;
    color: #25292E;
}

.c-header-logout:hover {
    opacity: 0.8;
    cursor: pointer;
    background: #25292E;
    color: #ffffff;
}